#main_row{
    margin-top:50px;

}

.col-8 > *{
    height: 100px;
}

#top_left
{
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

.col-2, .element_4{
    border: 2px solid;
}

#bottom_left{
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}
